backend\My_Cloud_old
frontend\My_Cloud_old
__pycache__/
*.pyc
.env
venv/
.vscode/
.idea/
node_modules/
dist/
.DS_Store
*.log
*.sqlite3
db.sqlite3
.env
users/
uploads/
media_content/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
